@import '../../../libs/hanzo-ui/src/styles/styles.css';
@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';

html,
body,
#root {
  @apply font-inter bg-bg-dark text-text-default h-full rounded-lg border-0;
}

html {
  @apply overscroll-none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.p-node-disabled {
  pointer-events: none;
  & .p-checkbox-box {
    @apply !bg-gray-100;
  }
  & .p-icon.p-checkbox-icon {
    @apply !pointer-events-none;
  }
}

/* PrismSyntaxHighlighter table inside code block */
[class*='language-'] .token.token.table {
  @apply !inline;
}
