:root ._pos-relative{position:relative;}
:root ._fd-column{flex-direction:column;}
:root ._gap-c-space-4{gap:var(--c-space-4);}
:root ._fd-row{flex-direction:row;}
:root ._width-10037{width:100%;}
:root ._items-center{align-items:center;}
:root ._z-10{z-index:10;}
:root ._pos-absolute{position:absolute;}
:root ._r-0px{right:0px;}
:root ._t-0px{top:0px;}
:root ._b-0px{bottom:0px;}
:root ._justify-center{justify-content:center;}
:root ._width-c-size-4{width:var(--c-size-4);}
:root ._pe-none{pointer-events:none !important;}
:root ._grow-1{flex-grow:1;}
:root ._shrink-1{flex-shrink:1;}
:root ._fb-auto{flex-basis:auto;}
:root ._gap-c-space-8{gap:var(--c-space-8);}
:root ._pt-c-space-4{padding-top:var(--c-space-4);}
:root ._pr-c-space-4{padding-right:var(--c-space-4);}
:root ._pb-c-space-4{padding-bottom:var(--c-space-4);}
:root ._pl-c-space-4{padding-left:var(--c-space-4);}
:root ._bg-background{background-color:var(--background);}
:root ._t-c-space-6{top:var(--c-space-6);}
:root ._gap-c-space-6{gap:var(--c-space-6);}
:root ._fwr-wrap{flex-wrap:wrap;}
@media (min-width: 640px){:root:root:root:root:root:root:root:root:root:root:root:root:root ._t-_sm_0px{top:0px;}}
@media (min-width: 640px){:root:root:root:root:root:root:root:root:root:root:root:root:root ._pos-_sm_relative{position:relative;}}
:root ._gap-c-space-2{gap:var(--c-space-2);}
:root ._select-auto{user-select:auto;-webkit-user-select:auto;}
:root ._ws-normal{white-space:normal;}
:root ._tt-f-transform1451{text-transform:var(--f-transform-8);}
:root ._ff-f-family{font-family:var(--f-family);}
:root ._fw-f-weight-10{font-weight:var(--f-weight-10);}
:root ._ls-f-letterSpa779312653{letter-spacing:var(--f-letterSpacing-10);}
:root ._fs-f-size-10{font-size:var(--f-size-10);}
:root ._lh-f-lineHeigh3500568{line-height:var(--f-lineHeight-10);}
:root ._col-color12{color:var(--color12);}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._text-center{text-align:center;}
:root ._fw-f-weight-4{font-weight:var(--f-weight-4);}
:root ._ls-f-letterSpa1360334202{letter-spacing:var(--f-letterSpacing-4);}
:root ._fs-f-size-4{font-size:var(--f-size-4);}
:root ._lh-f-lineHeigh112923{line-height:var(--f-lineHeight-4);}
:root ._col-color10{color:var(--color10);}
:root ._btc-borderColor._btc-borderColor{border-top-color:var(--borderColor);}
:root ._brc-borderColor._brc-borderColor{border-right-color:var(--borderColor);}
:root ._borderBottomColor-borderColor._borderBottomColor-borderColor{border-bottom-color:var(--borderColor);}
:root ._borderLeftColor-borderColor._borderLeftColor-borderColor{border-left-color:var(--borderColor);}
:root ._btw-0px._btw-0px{border-top-width:0px;}
:root ._brw-0px._brw-0px{border-right-width:0px;}
:root ._borderBottomWidth-1px._borderBottomWidth-1px{border-bottom-width:1px;}
:root ._borderLeftWidth-0px._borderLeftWidth-0px{border-left-width:0px;}
:root ._height-0px{height:0px;}
:root ._maxH-0px{max-height:0px;}
:root ._bbs-solid._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid._bts-solid{border-top-style:solid;}
:root ._bls-solid._bls-solid{border-left-style:solid;}
:root ._brs-solid._brs-solid{border-right-style:solid;}
:root ._tr-translateY-1736186894{transform:translateY(-0.5px);}
:root ._col-color{color:var(--color);}